@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* heading sizes */
  --font-h1: 3rem;
  --font-h2: 2.375rem;
  --font-h3: 1.875rem;
  --font-h4: 1.5rem;
  --font-h5: 1.25rem;
  --font-h6: 1.125rem;

  /* body text */
  --font-big: 2rem;
  --font-medium: 1.5rem;
  --font-body: 1rem;
  --font-small: 0.875rem;
}

/* font sizes mobile */
@media (max-width: 768px) {
  :root {
    --font-h1: 2.25rem; /* 36px */
    --font-h2: 2rem; /* 32px */
    --font-h3: 1.75rem; /* 28px */
    --font-h4: 1.25rem; /* 20px */
    --font-h5: 1.125rem; /* 18px */
    --font-h6: 1rem; /* 16px */
    --font-big: var(--font-body);
    --font-medium: var(--font-body);
  }
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: var(--font-body);
}

p {
  font-size: var(--font-body);
}

small {
  font-size: var(--font-small);
}

.h1 {
  font-size: var(--font-h1);
  margin-bottom: 10px;
  font-weight: 600;
}

.h2 {
  font-size: var(--font-h2);
  margin-bottom: 10px;
  font-weight: 600;
}

.h3 {
  font-size: var(--font-h3);
  margin-bottom: 10px;
  font-weight: 600;
}

.h4 {
  font-size: var(--font-h4);
  margin-bottom: 10px;
  font-weight: 600;
}

.h5 {
  font-size: var(--font-h5);
  margin-bottom: 10px;
  font-weight: 600;
}

.h6 {
  font-size: var(--font-h6);
  margin-bottom: 10px;
  font-weight: 600;
}