header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(0.875rem, 0.7763rem + 0.3947vw, 1.25rem);
}

.logo {
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu a,
.dropbtn {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  padding: 1em;
}

.menu a:hover {
  color: #f0f0f0;
}

.dropbtn:hover {
  color: black;
  background-color: #f0f0f0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content li a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: black;
}

.dropdown:last-child .dropdown-content {
  left: auto;
  right: 0;
}

#overOnsHome {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(0.75rem, 0.5526rem + 0.7895vw, 1.5rem);
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
