section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.house {
  width: 15dvw;
  height: 45dvh;
  left: 43%;
  z-index: 1;
  top: 20%;
}

.scene-1 {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: linear-gradient(180deg, var(--color-gray-80) 0%, var(--color-gray-80) 50%, var(--color-gray-20) 100%);

  >* {
    position: absolute;
  }
}

.skyline {
  width: 50dvw;
  z-index: -1;
  top: 15%;
}

.skyline-1 {
  left: -2dvw;
}

.skyline-2 {
  left: 50dvw;
}

.adress {
  position: relative;
  text-align: center;
  font-size: var(--font-h1);
  padding: .5rem;
  z-index: 2;
}

.family {
  position: relative;
  text-align: center;
  font-size: var(--font-h2);
  padding: 0;
  z-index: 2;
}

.tree {
  width: 15dvw;
  top: 45%;
}

.tree-1 {
  left: 20%;
}

.tree-2 {
  left: 65%;
}

.bike {
  width: 5dvw;
  top: 55%;
  left: 40%;
}

.cloud {
  z-index: -3;
  width: 15dvw;
}

.cloud-1 {
  width: 15dvw;
  left: 50%;
}

.cloud-2 {
  width: 10dvw;
  left: 75%;
  top: 10%;
}

.cloud-3 {
  width: 7dvw;
  left: 20%;
  top: 5%;
}

.scene-1-transition {
  background-image: linear-gradient(to right, var(--color-gray-60), var(--color-gray-60) 80px, var(--color-gray-40) 80px, var(--color-gray-40));
  background-size: 160px 100%;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  left: 0%;
  top: 0%;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .skyline {
    width: 40dvh;
    top: 25%;
  }

  .house {
    width: 15dvh;
    text-align: center;
    left: 35dvw;
    top: 30%;
  }

  .tree {
    top: 48%;
    width: 25dvw
  }

  .tree-1 {
    left: 5%;
  }

  .tree-2 {
    left: 75%;
  }

  .bike {
    width: 15dvw;
    top: 60%;
    left: 23%;
  }
}

.scene-2 {
  position: relative;
  width: 100dvw;
  height: 900dvh;
  background-color: var(--color-gray-40);
  background-image: linear-gradient(to right, var(--color-gray-60), var(--color-gray-60) 80px, var(--color-gray-40) 80px, var(--color-gray-40));
  background-size: 160px 100%;
    * {
    position: relative;
  }
}

.scene-2-wedding {
  top: 25dvh;
  height: 200dvh;
  width: 100dvw;
}

.chandelier {
      position: absolute;
    left: 47%;
    width: 8dvw;
    height: auto;
    top: -1dvh;
}

.wedding-text {
  text-align: center;
  top: 35dvh;
  font-size: var(--font-big);
}

.bride {
  height: 40dvh;
  width: auto;
  left: 40%;
  top: 35dvh;
  transform-origin: bottom center;
}

.groom {
  height: 40dvh;
  width: auto;
  left: 45%;
  top: 35dvh;
  transform-origin: bottom center;
}

.floor {
  background: linear-gradient(180deg, transparent 0%, transparent 80%, var(--color-black) 80%, var(--color-black) 100%);
  top: 25dvh;
  width: 100dvw;
  height: 10dvh;
}

.woman {
  height: 35dvh;
  width: auto;
  left: 30%;
  top: 20dvh;
}

.baby {
  height: 10dvh;
  width: auto;
  left: 30%;
  top: 20dvh;

}

.child-boy {
  height: 20dvh;
  width: auto;
  left: 30%;
  top: 20dvh;

}

.man {
  height: 40dvh;
  width: auto;
  left: 30%;
  top: 20dvh;
}

.children-text {
  text-align: center;
  top: 15dvh;
  font-size: var(--font-big);
  margin: 2rem;
}

.grandma-1 {
  height: 35dvh;
  width: auto;
  left: 30%;
  top: 30dvh;
}

.floor-2 {
  top: 10dvh;
}

.scene-2-children {
  top: 50dvh;
  height: 200dvh;
  width: 100dvw;
}

.scene-2-grandmas{
    top: 125dvh;
  height: 200dvh;
  width: 100dvw;
}

.woman-2{
height: 35dvh;
    width: auto;
    left: 0%;
  top: 30dvh;
}

.floor-3{
  top: 20dvh;
}

.grandma-text {
  text-align: center;
  top: 20dvh;
  font-size: var(--font-big);
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  .chandelier {
    left: 40%;
    width: 8dvh;
  }

  .wedding-text {
    top: 30dvh;
  }

  .bride {
    height: 20dvh;
    left: 30%;
  }

  .groom {
    height: 20dvh;
    left: 40%;
  }

  .woman {
    height: 20dvh;
    top: 15dvh;

  }

  .man {
    height: 25dvh;
    top: 15dvh;
  }

  .baby {
    height: 5dvh;
    top: 15dvh;

  }

  .child-boy {
    height: 15dvh;
    top: 15dvh;

  }

  .children-text {
    top: 5dvh;
  }

  .floor-2 {
    top: 5dvh;
  }


  .woman-2{
    top: 25dvh;
  }

  .grandma-1 {
    height: 20dvh;
    top: 25dvh;
    left: 10%;
  }

  .floor-3{
    top: 16dvh;
  }
}

.scene-3 {
  position: relative;
  width: 100dvw;
  height: 400dvh;
background-image:  linear-gradient(var(--color-gray-60) 8px, transparent 8px), linear-gradient(to right, var(--color-gray-60) 8px, var(--color-gray-40) 8px);
background-size: 140px 140px;

}

.dentist-text {
  position: relative;
  text-align: center;
  top: 50dvh;
  font-size: var(--font-big);
  margin: 2rem;
}

.floor-4{
  top: 0dvh;
}

.dentist{
  position: relative;
  height: 35dvh;
  top: 12dvh;
  width: auto;
  left: 0dvw;
}

.ground-4{
  top: 0dvh;
}

.customer{
  position: relative;
  height: 30dvh;
  width: auto;
  left: 0%;
  top: 10dvh;
  transform-origin: bottom center;
}

.customer-2{
  height: 25dvh;
}

.scene-3-text-1, .scene-3-text-2, .scene-3-text-3{
  position: relative;
  height: 100dvh;
  width: 100dvw;
}

.dentist-text-1, .dentist-text-2, .dentist-text-3 {
  top: 50%;
}

@media screen and (max-width: 800px) {
  .customer:nth-child(-n+4){
    display:none;
  }

  .customer{
height: 15dvh;
  }
  .customer-2{
  height: 12dvh;
}
  .dentist{
height: 15dvh;
top: 10dvh;
  }
  .dentist-text-1, .dentist-text-2, .dentist-text-3{
  top: 35%;
}
}