{% layout "server/layouts/base.liquid" %}

{% block content %}

  <h2>Straten</h2>
  <div class="straat-knoppen">
    {% for straat in straten %}
      <a href="/{{ straat | urlencode }}" class="straat-knop">{{ straat }}</a>
    {% endfor %}
  </div>


{% endblock %}