{% layout "server/layouts/base.liquid" %}

{% block content %}

  <h1>Atlas Personen</h1>

  {% if personen.size > 0 %}
    <ul>
      {% for persoon in personen %}
        <li>
          <strong>ID:</strong>
          {{ persoon.id }} <br>
          <strong>Naam:</strong>
          {{ persoon.first_name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Geen personen gevonden.</p>
  {% endif %}

{% endblock %}