@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

body:has(#sidebar-toggle:checked) .grid-wrapper {
  grid-template-columns: minmax(0rem, 0rem) auto 1fr;
}





.grid-wrapper {
  display: grid;
  grid-template-columns: minmax(17rem, 17rem) auto 1fr;
  transition: grid-template-columns 0.4s cubic-bezier(0, 0, 0, 1);
}

.sidebar {
  background-color: #f2f2f2;
  color: #212121;
}

.sidebar-content {
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.sidebar-content h3 {
  padding: 1rem;
}

.sidebar-content form {
  margin: 0;
}

.sidebar-content form legend {
  padding-bottom: 0.5rem;
}

.sidebar-content form li {
  white-space: nowrap;
}

.sidebar-content form li label {
  cursor: pointer;
}

/* Let op: & + li a betekent: als li direct na een andere li komt */
.sidebar-content form li + li a {
  border-top: none;
  /* border-bottom: 1px solid #212121; */
}

.sidebar-content form li a {
  color: #212121;
  text-decoration: none;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  width: 86%;
  padding: 1.2em;
  display: inline-block; /* Zorgt dat transform en scale goed werken */
  transition: all 0.3s ease-in-out; /* Vloeiender animatie */
}

/* Specifiek voor laatste li */
.sidebar-content form li:last-child a {
  border-bottom: 1px solid #212121;
}

/* Hover state van de link */
.sidebar-content form li a:hover {
  transform: scale(1.05);
  background-color: white;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.toggle-button {
  background: var(--color-gray-20);
  cursor: pointer;
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);

  svg {
    transition: transform 0.4s cubic-bezier(0, 0, 0, 1);
    transform: rotate(180deg);
  }
}

body:has(#sidebar-toggle:checked) .toggle-button svg {
  transform: rotate(0deg);
}

.content {
  overflow-y: hidden;
}

/* footer */
footer {
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.inleiding {
  padding: 1rem;
}

.inleiding p {
  margin-top: 1rem;
  font-size: 1.5em;
}

.map-wrapper {
  position: relative;
  width: 100%;
}

.overlay {
  width: 100%;
  height: auto;
}

.link-vrolik {
  transform: translate(5px, -55px);
}

.link-vrolik path {
  transform: scale(2.9);
  stroke-width: 1.6;
}

.link-beuken {
  transform: translate(
    27.5px,
    -31px
  ); /* Pas eventueel aan voor juiste positionering */
}

.link-beuken path {
  transform: scale(2.5);
  stroke-width: 2.5;
}

.link-eiken {
  transform: translate(-3px, -61px);
}

.link-eiken path {
  transform: scale(3);
  stroke-width: 1.5;
}

.link-boerhaave {
  transform: translate(3px, -59.5px);
}

.link-boerhaave path {
  transform: scale(3);
  stroke-width: 1.5;
}

.link-ooster {
  transform: translate(13px, -136px) rotate(1deg); /* Pas eventueel aan voor juiste positionering */
}

.link-ooster path {
  transform: scale(2);
  stroke-width: 2.5;
}

.link-derde-oost {
  transform: translate(4px, -54.5px);
}

.link-derde-oost path {
  transform: scale(2.9);
  stroke-width: 1.6;
}

.link-tweede-oost {
  transform: translate(4px, -54.5px);
}

.link-tweede-oost path {
  transform: scale(2.9);
  stroke-width: 1.6;
}

.link-camper {
  transform: translate(4.5px, -54.5px);
}

.link-camper path {
  transform: scale(2.9);
  stroke-width: 1.6;
}

.link-kastanje {
  transform: translate(-3.5px, -59.7px);
}

.link-kastanje path {
  transform: scale(3);
  stroke-width: 1.8;
}

.straat-path {
  stroke: #F1BD1E;
  fill: none;
  transform-origin: top left;
  transition: stroke 0.3s ease;
}

.straat-path:hover {
  stroke: #ffd24b;
}

.straat-link {
  position: relative;
  display: inline-block;
}

/* Tooltip zelf */

.tooltip {
  position: absolute;
  background: white;
  color: black;
  padding: 4px 8px;
  font-size: 2em;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.2s ease;
}

image {
  object-fit: cover;
  object-position: bottom;
}

/* intro */

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 6rem);
  font-weight: bold;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 0 1rem 0; /* <-- dit voegt onderruimte toe */
}

.overlay-screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #848484;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.overlay-screen svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0.3;
}

.overlay-screen svg path {
  stroke-width: 6;
  stroke: #3e2c00;
}

.story {
  z-index: 1;
  max-width: 40em;
  text-align: center;
  color: white;
}

.story p{
  font-size: 1.5em;
}

.story-step {
  display: none;
  transition: opacity 0.5s ease;
}

.story-step.active {
  display: block;
}

.button-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-container button {
  padding: 14px 28px;
  background-color: #212121;
  color: white;
  font-size: 1.1em;
  border: 2px solid #F1BD1E;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Merienda", cursive;
}

.button-container button:hover {
  background-color: #333333;
  color: #F1BD1E;
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



.uitgelicht {
  padding: 0rem;
  background-color: #f2f2f2;
  border-left: #212121 1px solid;
  margin: 0 auto;
  z-index: 100;
}

.uitgelicht h2 {
  font-size: 2.5em;
  text-align: left;
  padding: 1rem;
  border-bottom: #212121 1px solid;
}

.uitgelicht ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 0;
  list-style: none;
  margin: 0;
}

.uitgelicht li {
  border-right: 1px solid #212121;
  width: 30%;
  height: 14em;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.uitgelicht li a {
  display: flex;
  gap: 2rem;
}

.uitgelicht li a span{
  justify-self: flex-start;
}

.uitgelicht li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.uitgelicht a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.uitgelicht img {
  width: 6em;
  height: 6em;
  object-fit: contain;
}

/* Responsive: op mobiel onder elkaar */
@media (max-width: 768px) {
  .uitgelicht li {
    width: 80%;
    height: auto;
    padding: 2em 0;
    border: 1px solid #212121;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .uitgelicht li:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .uitgelicht li a {
    width: 100%;
    text-align: center;
    padding: 1.2em;
    box-sizing: border-box;
    border: none; /* border weghalen van de a */
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; /* Sidebar boven content */
  }

  .sidebar-content form ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .sidebar-content form ul li {
    flex: 1 1 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #212121;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-content form ul li a {
    width: 100%;
    text-align: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 1.2em;
    box-sizing: border-box;
  }

}