{% layout "server/layouts/base.liquid" %}

{% block content %}

<div>
    <h1>Wij zijn team Soldaat van Oost</h1>
    <h2>Mischa, Joost, Christian & Thijs. Vier studenten die de minor Web Design & Development volgen en dit is ons
        eindproject.</h2>
</div>

{% endblock %}